.panel1 ul li{
    display: inline-block;
}
.panel1{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}
.panelStar{
    background-color: rgb(255, 253, 145);
}
.img-circle{
    border-radius: 50%;
}
.btnrandom{
    float: right;
    padding: 3px;
    position: relative;
    bottom: 40px;
}
.star1{
    color: rgb(224, 219, 219);
}
.star2{
    color:yellow;
}
.border{
    border: solid 20px silver;
}
.panel1:hover{
    transform: scale(1.02, 1.02);
}