.panel1 ul li{
    display: inline-block;
}
.panel{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    
}
.img-circle{
    border-radius: 50%;
}
.btnrandom{
    float: right;
    padding: 3px;
    position: relative;
    bottom: 40px;
}
.far{
    color: rgb(224, 219, 219);
}
.border{
    border: solid 10px silver;
}
.panel1:hover{
    transform: scale(1.02, 1.02);
}